* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Ubuntu";
}

header {
    height: 140px;
    background-color: rgb(40, 89, 203);
    color: white;
}

.titulo {
    display: flex;
    justify-content: space-between; 
    padding: 15px;
    margin-left: 30px;
}

h1{
    margin-top: 10px;
}

.botao-login {
    margin-top: 8px;
    padding: 8px;
    font-size: 17px;
    height: 40px;
    margin-right: 20px;
    color: white;
    width: 90px;    
    border: 1px white solid;
    background-color: transparent;
}

.botao-login a {
    text-decoration: none;
    color: white;
}

.botao-login:hover {
    background-color: rgba(22, 56, 135, 0.532);
    transition-duration: 0.5;
    cursor: pointer;
}

.menu-principal {
    margin-top: 10px;
    display: flex;
    margin-left: 30px;
}

.menu-principal a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 8px;
    padding: 10px 20px 10px 20px;
}

.menu-principal a:hover {
    background-color: rgba(22, 56, 135, 0.532);
    transition-duration: 0.5;
    border-radius: 2px;
}

.secoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    background-color: rgb(223, 218, 218);
}

.historico {
    width: 25%;
    border-right: 1px solid rgb(40, 89, 203);
}

.historico h2 {
    margin-top: 30px;
    text-align: center;
}

.consultas {
    width: 75%;
}

.consultas h2 {
    margin-top: 30px;
    text-align: center;
}

.consultas-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.consultas-container textarea {
    padding: 15px;
    font-size: 17px;
    border-radius: 15px;
    border: 2px solid rgb(40, 89, 203);
}

.botoes-consulta {
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: space-around;
}

.botoes-consulta button {
    border-style: none;
    height: 35px;
    width: 100px;
    font-size: 18px;
    background-color: rgb(40, 89, 203);
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

.botoes-consulta button:hover {
    background-color: rgba(16, 48, 124, 0.911);
    transition-duration: 0.5s;
    cursor: pointer;
}





